<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <style>
        table {
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <h1><%= title %></h1>
    <table>
        <thead>
            <tr>
                <td>First Name</td>
                <td>Last Name</td>
                <td>Year</td>
            </tr>
        </thead>
        <tbody>
            <% data.forEach(function(d) { %>
            <tr>
                <td><%= d.first %></td>
                <td><%= d.last %></td>
                <td><%= d.year %></td>
            </tr>
            <% }); %>
        </tbody>
    </table>
</body>
</html>
